@font-face {
    font-family: 'FigTreeI';
    src: url('/font/Figtree-Italic.ttf')format('truetype');
    font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'FigTree';
    src: url('/font/Figtree-Variable.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}


*{
    font-family: 'FigTree';
    padding: 0px;
    margin: 0px;
}